extends ../layout

block content
    h2 Topics
    hr
    .row.browseRow
        .col-sm-4
            a(href='/browse/Tech', style='color: #fff')
                .panel.panel-default(style='background-color: #000')
                    .panel-body
                        |  Tech
        .col-sm-4
            a(href='/browse/Health', style='color: #fff')
                .panel.panel-default(style='background-color: #00abf0')
                    .panel-body
                        |  Health
        .col-sm-4
            a(href='/browse/Environment', style='color: #fff')
                .panel.panel-default(style='background-color: #3b5998')
                    .panel-body
                        |  Environment
        .col-sm-4
            a(href='/browse/Physics', style='color: #fff')
                .panel.panel-default(style='background-color: #3b5998')
                    .panel-body
                        |  Physics
        .col-sm-4
            a(href='/browse/Nature', style='color: #fff')
                .panel.panel-default(style='background-color: #3b5998')
                    .panel-body
                        |  Nature
        .col-sm-4
            a(href='/browse/Futurism', style='color: #fff')
                .panel.panel-default(style='background-color: #3b5998')
                    .panel-body
                        |  Futurism
