extends ../layout

block content
    h1 Topics
    hr
    .row.browseRow
        .col-sm-4
            a(href='/browse/tech', style='color: #fff')
                .panel.panel-default(style='background-color: #253F3F')
                    .panel-body
                        |  Technology
        .col-sm-4
            a(href='/browse/health', style='color: #fff')
                .panel.panel-default(style='background-color: #253F3F')
                    .panel-body
                        |  Health
        .col-sm-4
            a(href='/browse/environment', style='color: #fff')
                .panel.panel-default(style='background-color: #253F3F')
                    .panel-body
                        |  Environment
        .col-sm-4
            a(href='/browse/physics', style='color: #fff')
                .panel.panel-default(style='background-color: #253F3F')
                    .panel-body
                        |  Physics
        .col-sm-4
            a(href='/browse/nature', style='color: #fff')
                .panel.panel-default(style='background-color: #253F3F')
                    .panel-body
                        |  Nature
        .col-sm-4
            a(href='/browse/futurism', style='color: #fff')
                .panel.panel-default(style='background-color: #253F3F')
                    .panel-body
                        |  Futurism
