extends ../layout

block content
    .page-header
        h2 Topics
    .row.browseRow
        .col-sm-4
            a(href='/browse/tech', style='color: #fff')
                .panel.panel-default(style='background-image: url(../img/tech1.jpg); background-size:cover;')
                    .panel-body
                        |  Technology
        .col-sm-4
            a(href='/browse/health', style='color: #fff')
                .panel.panel-default(style='background-image: url(../img/health2.jpg); background-size:cover;')
                    .panel-body
                        |  Health
        .col-sm-4
            a(href='/browse/environment', style='color: #fff')
                .panel.panel-default(style='background-image: url(../img/environment1.jpg); background-size:cover;')
                    .panel-body
                        |  Environment
        .col-sm-4
            a(href='/browse/physics', style='color: #fff')
                .panel.panel-default(style='background-image: url(../img/physics1.jpg); background-size:cover;')
                    .panel-body
                        |  Physics
        .col-sm-4
            a(href='/browse/nature', style='color: #fff')
                .panel.panel-default(style='background-image: url(../img/nature1.jpg); background-size:cover;')
                    .panel-body
                        |  Nature
        .col-sm-4
            a(href='/browse/futurism', style='color: #fff')
                .panel.panel-default(style='background-image: url(../img/futurism1.jpg); background-size:cover;')
                    .panel-body
                        |  Futurism
