extends layout
block content
    .page-header
        h2 About Us
    .description-text-block
        p Have you ever wanted brush up your journalism skills while learning more about the fascinating world around us? If so, join the BASIS Inquirer, an academic, one­-of­-a­-kind science news magazine. Our mission is to provide informative and concise science news and educational opportunities every month. Together, the club shall explore upcoming research and new inventions in the world of science-both locally and internationally. Whether it be the next worldwide innovation in creating a new energy source or an exciting new chemistry project in class, it will be covered by The Basis Inquirer and shared with the rest of the school.
    .team-list
