extends layout
block content
    .page-header
        h2 About Us
    .description-text-block
        p Have you ever wanted brush up your journalism skills while learning more about the fascinating world around us? If so, join the BASIS Inquirer, an academic, one­-of­-a­-kind science news magazine. Our mission is to provide informative and concise science news and educational opportunities every month. Together, the club will explore upcoming research and new inventions in the world of science-both locally and internationally. Whether it be the next worldwide innovation in creating a new energy source or an exciting new chemistry project in class, it will be covered by The Basis Inquirer and shared with the rest of the school.
    hr
    .row.flyersRow
        .col-sm-4
            .flyer#flyer1
                img(src="/img/flyer1.png")
                #flyer-overlay1.overlay
                    a(href="/resources/flyer1.pdf" target="flyer1")
                        i.fa.fa-download.fa-4x
        .col-sm-4
            .flyer#flyer2
                img(src="/img/flyer2.png")
                #flyer-overlay2.overlay
                    a(href="/resources/flyer2.pdf" target="flyer2")
                        i.fa.fa-download.fa-4x
        .col-sm-4
            .flyer#flyer3
                img(src="/img/flyer3.png")
                #flyer-overlay3.overlay
                    a(href="/resources/flyer3.pdf" target="flyer3")
                        i.fa.fa-download.fa-4x
    .page-header
        h2 Our Team
    .row.team-list
        .col-sm-3
            h3 Writers
            p Alonzo Arambulo
            p Sergey Bragin
            p Kovida
            p Abhinav
            p Pratishtha
            p Margaret
            p Suparna
            p Avinish
        .col-sm-3
            h3 Graphic Designers
            p Crazy Willy
            p Fierce Joe
            p Giant John
            p Mad Bob
            p Loopy Luke
            p Sad Sam
            p Cool Calvin
        .col-sm-3
            h3 Web Masters
            p Anthony Bao
            p Richard Bao
            h3 Editors in Chief
            p Jerry Miao
            p Anamika Basu
            p Rizwan Mannan
            p Vignesh Sivakumar
        .col-sm-3
            h3 Manager
            p Anamika Basu
            h3 Coordinator
            p Jerry Miao
            h3 Faculty Advisor
            p Mrs. Jennifer Peacher

    hr
    br
