extends layout
block extraStyleSheet
    style.
        body {
          padding: 0;
        }
        .navbar {
          background: rgba(0, 0, 0, 0);
          box-shadow: none;
        }
        
block home
    section.homeintro
        .intro-container
            .title BASIS Inquirer
            
block content
    //- h1 Latest News
    //- hr
    //- .row
    //-     .col-sm-6
    //-         img(src="/img/slide-image3.jpg")
    //-         h2 Heading
    //-         p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-         p
    //-             a.btn.btn-default(href='#', role='button') Read More »
    //-     .col-sm-6
    //-         img(src="/img/slide-image3.jpg")
    //-         h2 Heading
    //-         p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-         p
    //-             a.btn.btn-default(href='#', role='button') Read More »
    //-     .col-sm-6
    //-         img(src="/img/slide-image3.jpg")
    //-         h2 Heading
    //-         p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-         p
    //-             a.btn.btn-default(href='#', role='button') Read More »
    //-     .col-sm-6
    //-         img(src="/img/slide-image3.jpg")
    //-         h2 Heading
    //-         p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-         p
    //-             a.btn.btn-default(href='#', role='button') Read More »
