extends layout

block sliderstylesheets
  link(rel='stylesheet', href='/css/layerslider.css')
  link(rel='stylesheet', href='/css/fullwidthslider.css')
  link(rel='stylesheet', href='/css/jquery.fancybox.css')
  link(rel='stylesheet', href='/css/styles.css')

block slider
  .page(style='margin-top:-10px;')
    // page header
    header.page-header.main-page.sticky(style='display:none;')
      .sticky-wrapp
        .sticky-container
    // slider
    .slider-wrapper
      section#slider.slider
        .ls-slide(data-ls='transition2d:9;slidedelay:7000;')
          img.ls-bg(src='/img/slide-image1.jpg', alt='')
          .intro.ls-l(data-ls='offsetyin:top;offsetxin:0;durationin:2000;offsetyout:bottom;offsetxout:0;durationout:1000;', style='left:80%;top:35%;')
            span.icon.fa.fa-heart
            h2
              span BASIS
              | INQUIRER
            p A student-edited science journal
            .buttons
              a.prev(href='#')
                i.fa.fa-angle-left
              //
              a.button(href='#') Read More
              //
              a.next(href='#')
                i.fa.fa-angle-right
        .ls-slide(data-ls='transition2d:40;slidedelay:7000;')
          img.ls-bg(src='/img/slide-image2new.jpg', alt='')
          .intro.ls-l(data-ls='scalexin:0.3;scaleyin:0.3;rotatexin:180;offsetxin:0;durationin:2000;durationout:2000;scalexout:2;scaleyout:2;offsetxout:0;fadeout:true;showuntil:3000;', style='left:80%;top:35%;')
            span.icon.fa.fa-leaf
            h2
              span Drug
              | REPOSITIONING
            p Molecular Insights for Accelerated Approvals
            .buttons
              a.prev(href='#')
                i.fa.fa-angle-left
              a.button(href='#') Read More
              a.next(href='#')
                i.fa.fa-angle-right
        .ls-slide(data-ls='transition2d:11;slidedelay:7000;')
          img.ls-bg(src='/img/slide-image3.jpg', alt='')
          .intro.ls-l(data-ls='skewxin:30;skewyin:0;offsetxin:right;fadein:false;durationin:2000;durationout:1000;offsetxout:right;offsetyout:0;fadeout:true;', style='left:80%;top:35%;')
            span.icon.fa.fa-user-md
            h2
              span Leveraging
              | BIG DATA
            p Intelligence-Based Clinical Development
            .buttons
              a.prev(href='#')
                i.fa.fa-angle-left
              a.button(href='#') Read More
              a.next(href='#')
                i.fa.fa-angle-right

block content
  h1 Latest News
  hr
  .row
    .col-sm-6
      img(src="/img/slide-image3.jpg")
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      img(src="/img/slide-image3.jpg")
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      img(src="/img/slide-image3.jpg")
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      img(src="/img/slide-image3.jpg")
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »

block sliderscripts
  script(src='/js/jquery.min.js')
  script(src='/js/owl.carousel.min.js')
  script(src='/js/jquery.fancybox.pack.js')
  script(src='/js/layerslider.transitions.js')
  script(src='/js/layerslider.kreaturamedia.jquery.js')
  script(src='/js/jquery.superscrollorama.js')
  script(src='/js/TweenMax.min.js')
  script(src='/js/jquery.tweet.js')
  script(src='/js/jquery.autocomplete.min.js')
  script(src='/js/scripts.js')
