extends layout
block content
    .page-header
        h2 Publications
    .row.publicationsRow
        .col-sm-4
            .issue#issue1
                img(src="/img/issue1.png")
                #overlay1.overlay
                    a(href="/resources/issue1.pdf" target="issue1")
                        i.fa.fa-download.fa-4x
        .col-sm-4
            .issue#issue2
                img(src="/img/issue2.png")
                #overlay2.overlay
                    a(href="/resources/issue2.pdf" target="issue2")
                        i.fa.fa-download.fa-4x
        .col-sm-4
            .issue#issue3
                img(src="/img/issue3.png")
                #overlay3.overlay
                    a(href="/resources/issue3.pdf" target="issue3")
                        i.fa.fa-download.fa-4x
        .col-sm-4
            .issue#issue0
                img(src="/img/issue0.png")
                #overlay0.overlay
                    a(href="/resources/issue0.pdf" target="issue0")
                        i.fa.fa-download.fa-4x
        .col-sm-4
            .issue#issue4
                img(src="/img/issue4.png")
                #overlay4.overlay
                    a(href="/resources/issue4.pdf" target="issue4")
                        i.fa.fa-download.fa-4x
