extends layout
block content
    .page-header
        h2 Publications
    .row.publicationsRow
        .col-sm-4
            .issue#issue1
                img(src="/img/issue1.png")
                #overlay1.overlay
                    a(href="/resources/issue1.pdf" target="issue1")
                        i.fa.fa-download.fa-4x
            .issue#issue2
            .issue#issue3
