extends layout
block content
    h1 Publications
    hr
    .row.publicationsRow
        .col-sm-4
            .issue#issue1
                img(src="/img/issue1.png")
                #overlay1 
                    | HI THIS IS BOB
            .issue#issue2
            .issue#issue3
