html {
    background: #253F3F;
}
body {
    background: #f5f5f5;
    min-width: 0;
    background: url('//d18l82el6cdm1i.cloudfront.net/site_media/version-0274df0539/images/home-hadron-collider.jpg') center no-repeat #333;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.intro {
    background: #253F3F;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

}
.navbar {
    background: #253F3F;
}
.navbar .dropdown-menu {
    background: #253F3F;
}
.navbar .container a {
    color: white;
}
.navbar .container .nav li a {
    color: white;
}
.navbar .container .nav li a:hover {
    color: #18F6EC;
}
.navbar .dropdown-menu {
    background: #253F3F;
}

/*.navbar .container .nav li> .active> a {
    color: #18F6EC;
}*/
.col-sm-6 {
    padding-bottom: 20px;
}
.col-sm-6 img {
    width: 100%;
    height: 100%;
}
